<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <title>Express.js + TailwindCSS</title>
  </head>
  <body class="font-open">
    <header class="bg-slate-900 text-gray-50 p-5">
      <div class="flex">
        <h1 class="text-3xl">Web</h1>

        <ul class="flex items-end gap-2 mb-1 ml-auto">
          <li>elem1</li>
          <li>elem2</li>
          <li>elem3</li>
          <li>elem4</li>
        </ul>
      </div>
    </header>

    <main class="font-fira">
      <div class="p-5">
        <div class="flex py-4 gap-3">
          <h1 class="text-xl">
            Welcome,
            <span class="text-3xl text-indigo-700 font-extrabold"
              ><%= data %>!</span
            >
          </h1>

          <div class="text-3xl">
            (
            <i class="devicon-typescript-plain colored"></i>
            <span class="font-bold">+</span>
            <i class="devicon-tailwindcss-plain colored"></i>
            <span class="font-bold">+</span>
            <i class="devicon-express-original colored"></i>
            )
          </div>
        </div>
        <div class="bg-blue-300 rounded-lg p-3 shadow-lg">
          <p class="text-slate-800">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            eveniet ullam neque autem dicta soluta at explicabo sunt excepturi
            delectus veritatis rerum, quia eaque quam. Laborum nobis eaque sunt
            doloribus.
          </p>
        </div>
      </div>
    </main>

    <footer class="bg-slate-900 text-gray-50 text-center">
      <div class="p-5">
        <a
          class="link hover:underline"
          href="https://lukaszfabia.vercel.app"
          target="_blank"
          >lukaszfabia.dev</a
        >
      </div>
    </footer>
  </body>
</html>
